
<%- include('./parts/head.ejs',{url : url, page_title : page_title})%>

<body>

<%- include('./parts/preloader.ejs')%>    
    <div id="pcoded" class="pcoded" >
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            

        <%- include('./parts/header.ejs')%>    

        <%- include('./parts/chat_persons.ejs')%>    

        <%- include('./parts/chat.ejs')%>    

            
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    
                    <%- include('./parts/side_nav.ejs')%> 
                    <div class="pcoded-content">
                        
                    <%- include('./parts/breadcrumb.ejs',{url : url , page_description : "Test" , page_title : page_title, breadcrumb : [{name : "Öffendlich", link: "/public/view"}]}) %>
                    
                        
                    
                    <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <!-- [ page content ] start -->
                                        <div class="row">

                                            <!-- lettest acivity and statustic card start -->

                                            <div class="col-xl-6 col-md-6">
                                            <div class="card">
														<div class="card-header">
															<h5>Hello card</h5>
														</div>
														<div class="card-block">
															<p>
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
																in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                            </p>
                                                            <button class="btn waves-effect waves-light btn-success btn-square btn-block">zum öffendlichen Bereich</button>
														</div>
													</div>
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                            <div class="card">
														<div class="card-header">
															<h5>Hello card</h5>
														</div>
														<div class="card-block">
															<p>
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
																in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                            </p>
                                                            <button class="btn waves-effect waves-light btn-info btn-square btn-block">zum induviduellen Bereich</button>
														</div>
													</div>
                                            </div>


                                            <!-- lettest acivity and statustic card end -->

                                        </div>
                                        <!-- [ page content ] end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ style Customizer ] start -->
                    <div id="styleSelector">
                    </div>
                    <!-- [ style Customizer ] end -->
                </div>
            </div>
        </div>
    </div>
    <%- include('./parts/foot.ejs',{url : url})%>
</body>

<script>

$(document).ready(function(){
    

    
    setTimeout(function(){ showTour(); }, 800);


    function showTour(){
        Swal.mixin({
                input: 'select',
                confirmButtonText: 'Next &rarr;',
                showCancelButton: true,
                progressSteps: ['1', '2', '3', '4']
            }).queue([
                {
                title: 'Akademischer Grad',
                text: 'Bitte wähle deinen angestrebten Akademischen Grad',
                inputOptions: inputOptionsPromise
                },
                {
                title: 'Studienfach',
                text: 'Bitte wähle deinen ausgewählte Studienrichtung'
                },
                {
                title: 'Fachsemester',
                text: 'Bitte wähle dein aktuelles Fachsemester'
                },
                {
                title: 'Seminargruppe',
                text: 'Bitte wähle deine Seminargruppe'
                }
            ]).then((result) => {
                if (result.value) {
                Swal.fire({
                    title: 'All done!',
                    html:
                    'Your answers: <pre><code>' +
                        JSON.stringify(result.value) +
                    '</code></pre>',
                    confirmButtonText: 'Lovely!'
                })
                }
            })
    }

    


});

var inputOptionsPromise = new Promise(function (resolve, reject) {
    $.ajax({
        url: "https://app.vlv-reload.de/api/AcademicDegree/get_Name_ID",
        method : "POST",
        success: function (data) {
            
            console.log(data);
            console.log(typeof JSON.parse(data));

            var returnObject = [];
            JSON.parse(data).forEach(function(e){
                console.log(e);
                returnObject.push( e.academicDegreeID : e.name );
            })
            console.log(returnObject);

            resolve(JSON.parse(data))
        }
    });
});

</script>

</html>
