
<%- include('./parts/head.ejs',{url : url, page_title : page_title})%>

<body>

<%- include('./parts/preloader.ejs')%>    
    <div id="pcoded" class="pcoded" >
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            

        <%- include('./parts/header.ejs')%>    

        <%- include('./parts/chat_persons.ejs')%>    

        <%- include('./parts/chat.ejs')%>    

            
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    
                    <%- include('./parts/side_nav.ejs')%> 
                    <div class="pcoded-content">
                        
                    <%- include('./parts/breadcrumb.ejs',{url : url , page_description : "Wähle Deine Seminargruppe!" , page_title : page_title, breadcrumb : [{name : "Öffendlich", link: "/public/view"}]}) %>
                    
                        
                    
                    <div class="pcoded-inner-content full-calender">
                  <div class="main-body">
                    <div class="page-wrapper">

                      <div class="page-body">
                        <div class="card">
                          
                          <div class="card-block">
                            <div class="row">
                              <!--<div class="col-xl-2 col-md-12">
                                <div id="external-events">
                                  <h6 class="m-b-30 m-t-20">Events</h6>
                                  <div class="fc-event ui-draggable ui-draggable-handle">My Event 1</div>
                                  <div class="fc-event ui-draggable ui-draggable-handle">My Event 2</div>
                                  <div class="fc-event ui-draggable ui-draggable-handle">My Event 3</div>
                                  <div class="fc-event ui-draggable ui-draggable-handle">My Event 4</div>
                                  <div class="fc-event ui-draggable ui-draggable-handle">My Event 5</div>
                                  <div class="checkbox-fade fade-in-primary m-t-10">
                                    <label>
                                      <input type="checkbox" value="">
                                      <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                      </span>
                                      <span>Remove After Drop</span>
                                    </label>
                                  </div>
                                </div>
                              </div>-->
                              <div class="col-xl-10 col-md-12">
                                <div id='calendar'></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="page-error">
                    <div class="card text-center">
                      <div class="card-block">
                        <div class="m-t-10">
                          <i class="icofont icofont-warning text-white bg-c-yellow"></i>
                          <h4 class="f-w-600 m-t-25">Not supported</h4>
                          <p class="text-muted m-b-0">Full Calendar not supported in this device</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                    </div>
                    <!-- [ style Customizer ] start -->
                    <div id="styleSelector">
                    </div>
                    <!-- [ style Customizer ] end -->
                </div>
            </div>
        </div>
    </div>
    <%- include('./parts/foot.ejs',{url : url})%>
</body>

<link rel='stylesheet' href='<%= url %>/files/bower_components/fullcalendar-3.9.0/fullcalendar.css' />
<link rel='stylesheet' href='<%= url %>/files/assets/css/pages.css' />

<script src='<%= url %>/files/bower_components/moment/js/moment.min.js'></script>
<script src='<%= url %>/files/bower_components/fullcalendar-3.9.0/fullcalendar.js'></script>
<script src='<%= url %>/files/bower_components/fullcalendar-3.9.0/locale/de.js'></script>
<script src='<%= url %>/files/bower_components/superagent/superagent-4_1_0.js'></script>
<script src='<%= url %>/files/bower_components/moment/js/moment.min.js'></script>



<script>
var current_termins = []; //JSON.parse('[{"start":"2019-04-01T11:00:00","end":"2019-04-01T12:30:00","room":"Hs 2","title":"Mathematik 2"},{"start":"2019-04-01T13:00:00","end":"2019-04-01T16:00:00","room":"Praktikum Chemie","title":"Physikalisch-Chemisches Praktikum 1"},{"start":"2019-04-01T13:00:00","end":"2019-04-01T16:00:00","room":"F 1004 (Praktikum Physik)","title":"Physikpraktikum"},{"start":"2019-04-01T17:00:00","end":"2019-04-01T18:30:00","room":"R-Hs","title":"Organische Chemie"}]');
var current_course;
var current_group;




$(document).ready(function(){
    setTimeout(function(){ showTour();}, 800);
    createCalendar();
});

function createCalendar(day){
    console.log(current_termins)
    $('#calendar').fullCalendar({
        header: {
            left: 'prev, today, next',
            center: 'title',
            right : ''
        },
        defaultView : 'agendaDay',
        defaultDate: day,
        events: current_termins,
        eventBorderColor: '#ff5252',
        eventBackgroundColor: '#ff5252',
        eventTextColor: '#fff',
        minTime: "06:30:00",
        nowIndicator: true,
        height: window.innerHeight - 80,
        eventRender: function(event, element) { 
            element.find('.fc-title').append("<br/>" + event.type +"<br/>" + event.room); 
            console.log(event);
            if (event.type.includes("Vorlesung")){
                element.css({
                    'background-color': '#FFB92B',
                    'border-color': '#FFB012'
                });
            }else if (event.type.includes("Übung")){
                element.css({
                    'background-color': '#3D9CDD',
                    'border-color': '#3498DB'
                });
            }else if (event.type.includes("Prakt")){
                element.css({
                    'background-color': '#23E1BB',
                    'border-color': '#1CC9A7'
                });
            }
            if (event.type.includes("Seminar")){
                element.css({
                    'background-color': '#06D3F2',
                    'border-color': '#05C6E3'
                });
            }
        } 
    }
    )
}

$('body').on('click', 'button.fc-prev-button', function() {
   fetchTermins(current_group);
});

$('body').on('click', 'button.fc-next-button', function() {
    fetchTermins(current_group)
});



var fetchTermins = function(course){
    date = $('#calendar').fullCalendar('getDate').format('YYYY-MM-DD');
    console.log("requested Day: " + date);
    
    //course = 1;
    console.log("Fetch Termins by C: " + course + " date: " + date);
    
   

    return new Promise(function (resolve, reject) {
        $.ajax({
            url: "https://app.vlv-reload.de/api/public/calendar/TerminsForGroup",
            method : "POST",
            data: {Course : course, Request_Date : date},
            success: function (data) {
                console.log(data);
                console.log(JSON.parse(data));
                current_termins = JSON.parse(data);
                $('#calendar').fullCalendar('destroy');
                createCalendar(date);

                resolve(JSON.parse(data))
            },
            error: function(jqxhr, status, exception) {
             console.log( exception);
         }
        });
    });
}


function showTour(){
        Swal.fire({
            input: 'select',
            confirmButtonText: 'Next &rarr;',
            showCancelButton: true,
            title: 'Akademischer Grad',
            text: 'Bitte wähle deinen angestrebten Akademischen Grad',
            inputOptions: academicDegreePromise
        }).then((result) => {
                if (result.value) {
                    console.log(result.value);
                    console.log(typeof result.value);
                    Swal.fire({
                        input: 'select',
                        confirmButtonText: 'Next &rarr;',
                        showCancelButton: true,
                        title: 'Fachsemester',
                        text: 'Bitte wähle deinen angestrebten Akademischen Grad',
                        inputOptions: CoursePromise(result.value)
                    }).then((result) => {
                            if (result.value) {
                                current_course = result.value;
                                Swal.fire({
                                    input: 'select',
                                    confirmButtonText: 'Next &rarr;',
                                    showCancelButton: true,
                                    title: 'Fachsemester',
                                    text: 'Bitte wähle deinen angestrebten Akademischen Grad',
                                    inputOptions: semesterPromise(result.value)
                                }).then((result) => {
                                        if (result.value) {
                                            Swal.fire({
                                                input: 'select',
                                                confirmButtonText: 'Next &rarr;',
                                                showCancelButton: true,
                                                title: 'Akademischer Grad',
                                                text: 'Bitte wähle deinen angestrebten Akademischen Grad',
                                                inputOptions: GroupPromise(current_course, result.value)
                                            }).then((result) => {
                                                    if (result.value) {
                                                        current_group = result.value;
                                                        fetchTermins(result.value)
                                                    }
                                                })
                                        }
                                    })
                            }
                        })
                }
            })
    }

var academicDegreePromise = new Promise(function (resolve, reject) {
    $.ajax({
        url: "https://app.vlv-reload.de/api/AcademicDegree/get_Name_ID",
        method : "POST",
        success: function (data) {
            var returnObject = {};
            JSON.parse(data).forEach(function(e){
                returnObject[e.academicDegreeID ] = e.name ;
            })
            resolve(returnObject)
        }
    });
});

var semesterPromise_ = new Promise(function (resolve, reject) {
    $.ajax({
        url: "https://app.vlv-reload.de/api/Semester/get_Name_ID",
        method : "POST",
        success: function (data) {
            var returnObject = {};
            JSON.parse(data).forEach(function(e){
                returnObject[e.semester ] = e.name ;
            })
            resolve(returnObject)
        }
    });
});

var semesterPromise = function(course){
    return new Promise(function (resolve, reject) {
        $.ajax({
            url: "https://app.vlv-reload.de/api/Semester/get_Name_ID",
            method : "POST",
            data: {Course : course},
            success: function (data) {
                console.log(data);
                var returnObject = {};
                JSON.parse(data).forEach(function(e){
                    returnObject[e.semester ] = e.name ;
                })
                resolve(returnObject)
            },
            error: function(jqxhr, status, exception) {
             console.log( exception);
         }
        });
    });
}


var CoursePromise = function(grade){
    return new Promise(function (resolve, reject) {
        $.ajax({
            url: "https://app.vlv-reload.de/api/Course/get_Name_ID",
            type : "POST",
            data: {AcademicDegree : grade },
            success: function (data) {
                console.log(data);
                var returnObject = {};
                JSON.parse(data).forEach(function(e){
                    returnObject[e.courseID ] = e.name ;
                })
                resolve(returnObject)
            },
            error: function(jqxhr, status, exception) {
             console.log( exception);
         }
        });
    });
}

var GroupPromise = function(course, semester){
    return new Promise(function (resolve, reject) {
        $.ajax({
            url: "https://app.vlv-reload.de/api/SeminarGroup/get_Name_ID",
            type : "POST",
            data: {Semester : semester, Course:  course},
            success: function (data) {
                console.log(data);
                var returnObject = {};
                JSON.parse(data).forEach(function(e){
                    returnObject[e.seminarGroupID ] = e.name ;
                })
                resolve(returnObject)
            },
            error: function(jqxhr, status, exception) {
             console.log( exception);
         }
        });
    });
}







</script>

</html>
