<%- include('./parts/head.ejs',{url : url, page_title : page_title})%>

<body>

<%- include('./parts/preloader.ejs')%>    
    <div id="pcoded" class="pcoded" >
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            

        <%- include('./parts/header.ejs')%>    

        <%- include('./parts/chat_persons.ejs')%>    

        <%- include('./parts/chat.ejs')%>    

            
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    
                    <%- include('./parts/side_nav.ejs')%> 
                    <div class="pcoded-content">
                        
                    <%- include('./parts/breadcrumb.ejs',{url : url , page_description : "Hier kannst Du einsehen, ob ein Raum aktuell belegt ist." , page_title : page_title, breadcrumb : [{name : "Willkommen", link: "/"}]}) %>
                    
                        
                    
                    <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <!-- [ page content ] start -->
                                        <div class="row">

                                            <!-- MenuBar : Start -->

                                            <div class="col-xl-12">
                                                <div class="card proj-progress-card">
                                                    <div class="card-block">
                                                        <div class="form-group row">
                                                            <div class=" col-sm-4 ">
                                                                <div class="button" id="button-filter">
                                                                    Filter 
                                                                </div>
                                                                
                                                                
                                                            </div>
                                                            <div class="col-sm-8 ">
                                                                
                                                                <form>
                                                                <div class="input-group input-group-button">
                                                                    <div class="input-group-prepend">
                                                                        <button class="btn btn-primary" type="button">Suchen</button>
                                                                    </div>
                                                                    <input type="text" class="form-control" placeholder="Nach einer Veranstalltung suchen">
                                                                    
                                                                </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- MenuBar : end -->


                                            <div class="event-box">
                                                
                                                    <div class="event-title-box"> 
                                                        Titel der Veranstalltung
                                                    </div>
                                                    <div class="event-body-box">
                                                        <span>Vorlesung</span>
                                                        <span>Mitwoch 10:30 - 12:30</span>
                                                    </div>
                                                
                                            </div>



                                            <!-- lettest acivity and statustic card end -->

                                        </div>

                                        <div id="cart-drop">

                                            <i class="feather icon-shopping-cart"></i>
                                            
                                        </div>
                                        <!-- [ page content ] end -->
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- [ style Customizer ] start -->
                    <div id="styleSelector">
                    </div>
                    <!-- [ style Customizer ] end -->
                </div>
            </div>
        </div>
    </div>
    <%- include('./parts/foot.ejs',{url : url})%>
</body>


<link rel='stylesheet' href='<%= url %>/files/bower_components/fullcalendar-3.9.0/fullcalendar.css' />
<link rel='stylesheet' href='<%= url %>/files/assets/css/pages.css' />
<link rel='stylesheet' href='<%= url %>/files/assets/css/event-customizer.css' />



<script src='<%= url %>/files/bower_components/moment/js/moment.min.js'></script>
<script src='<%= url %>/files/bower_components/fullcalendar-3.9.0/fullcalendar.js'></script>
<script src='<%= url %>/files/bower_components/fullcalendar-3.9.0/locale/de.js'></script>
<script src='<%= url %>/files/bower_components/superagent/superagent-4_1_0.js'></script>
<script src='<%= url %>/files/bower_components/moment/js/moment.min.js'></script>

<script>
var academicGrade = {
	title : "kein Filter gesetzt",
  id : 0,
}

var fachRichtung = {
	title : "kein Filter gesetzt",
  id : 0,
}


var inputOption ={
			0 : "kein Filter gesetzt",
      1: 'Apples',
      3: 'Bananas',
      4: 'Grapes',
      5: 'Oranges'
  }


$("#button-filter").on("click", function(){
	filterMenu(academicGrade, fachRichtung);
})




function filterMenu(academicGrade, fachRichtung){
Swal.fire({
  	title: "Filter",
    html: `
    <h4>Akademischer Grad</h4>
    <div class="button alert-button" id="test"> `+ academicGrade.title +`</div>
    <br>
    <h4>Fachrichtung</h4>
    <div class="button alert-button" >`+ fachRichtung.title +`</div>
    <br>
    `,
    showCancelButton: true,
    cancelButtonColor: '#d33'
  });
}

$(document).on('click', "#test", function() {
  Swal.fire({
  	title: "Akademischer Grad",
    input: 'select',
  	inputOptions: inputOption,
  inputValidator: (value) => {
   console.log(inputOption[value]);
  }
  }).then((result)=>{
  	console.log(result);
  	academicGrade.title = inputOption[result.value];
  	filterMenu(academicGrade, fachRichtung)
  })
});


</script>


</html>
