
<%- include('../parts/html-head.ejs', {url : url, page_title : "Account erstellen"}); %>

  <body themebg-pattern="theme1">
  <!-- Pre-loader start -->
  <div class="theme-loader">
      <div class="loader-track">
          <div class="preloader-wrapper">
              <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
              <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
            
              <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
            
              <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Pre-loader end -->
  <section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    
                    
                    
                    <!-- Authentication card start -->
                    <form class="md-float-material form-material" action="<%= url %>/user/create" method="POST">
                        <div class="text-center">
                            <img src="<%= url %>/files/assets/images/logo.png" alt="logo.png">
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center txt-primary">Account erstellen</h3>
                                    </div>
                                </div>
                                <p class="text-muted text-center p-b-5">Erstelle deinen induviduellen Account</p>
                                <div class="form-group form-primary">
                                    <input type="text" name="name" class="form-control" autocomplete="username">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Wähle deinen Nutzernamen</label>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="text" name="user_email" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">deine TU Ilmenau E-Mail Adresse</label>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-primary">
                                            <input type="password" name="user_password" class="form-control" required="">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Passwort</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-primary">
                                            <input type="password" name="user_password_confirm" class="form-control" required="">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Passwort bestätigen</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-25 text-left">
                                    <!--<div class="col-md-12">
                                        <div class="checkbox-fade fade-in-primary">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">Gelesen und aktzepiert <a href="auth-sign-up-social.html#">Terms &amp; Conditions.</a></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="checkbox-fade fade-in-primary">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">Send me the <a href="auth-sign-up-social.html">Newsletter</a> weekly.</span>
                                            </label>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Jetzt erstellen</button>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="text-inverse text-left m-b-0">Vielen Dank 🤗</p>
                                        <p class="text-inverse text-left"><a href="http://vlv-reload.de"><b>Zurück zur Landing Page</b></a></p>
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>
    <%- include('../parts/html-foot.ejs', {url : url}); %>

    
    <ul class="costum_error_list">
        <% apiErrors.forEach(function(err) { %>
            <li class="costum_error_item"> <%- err %> </li>
        <% }); %>
    </ul>
     

    
    
    
    
</body>

</html>
