<%- include('../parts/html-head.ejs', {url : url, page_title : "Einloggen"}); %>
  <body themebg-pattern="theme1">
  <!-- Pre-loader start -->
  <div class="theme-loader">
      <div class="loader-track">
          <div class="preloader-wrapper">
              <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
              <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
            
              <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
            
              <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Pre-loader end -->
    <section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <form class="md-float-material form-material" action="<%= url %>/user/login" method="post">
                        <div class="text-center">
                            <img src="<%= url %>/files/assets/images/logo.png" alt="logo.png">
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center txt-primary">Login</h3>
                                    </div>
                                </div>
                                <p class="text-muted text-center p-b-5">Hier kannst Du dich mit deine Uni - E-Mail einloggen</p>
                                <div class="form-group form-primary">
                                    <input type="text" name="user_name" class="form-control" required="" onfocusout="validateInput(this)">
                                    <span class="form-bar"></span>
                                    <label class="float-label">deine E-Mail Adresse</label>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="password" name="password" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">dein Passwort</label>
                                </div>
                                <div class="row m-t-25 text-left">
                                    <div class="col-12">
                                        <div class="checkbox-fade fade-in-primary">
                                            <label>
                                                <input type="checkbox" name="saveLoginInCache">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">Login im Cache speichen</span>
                                            </label>
                                        </div>
                                        <div class="forgot-phone text-right float-right">
                                            <a href="auth-reset-password.html" class="text-right f-w-600"> Passwort vergessen?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="submit" id="login-btn" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" disabled>LOGIN</button>
                                        
                                    </div>
                                </div>
                                <p class="text-inverse text-left">Du hast noch nicht, deinen induviduellen Account <a href="<%= url %>/user/create"><br>Kein Problem 😉 Erstelle Deinen kostenlosen Account hier</a></p>
                            </div>
                        </div>
                    </form>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>
    <%- include('../parts/html-foot.ejs', {url : url}); %>
    <ul class="costum_error_list">
        <% apiErrors.forEach(function(err) { %>
            <li class="costum_error_item"> <%- err %> <span onclick="remove_error(this)"><i class="icofont icofont-close-line-circled"></i> </span></li>
        <% }); %>
    </ul>
</body>
 <style>
    .costum_error_list {
        position: absolute;
        bottom: 0;
        width: calc(100vw - 6em);
        left: 3em;
    }
    .costum_error_item{
        margin: 1em;
        padding: 1em 1.4em;
        background: white;
        color: #e83e8c;
        border: 1px solid #e83e8c;
        border-radius: 0.5em;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    }

    .costum_error_item span{
        color: black;
        position: absolute;
        right: 2em;
        cursor: pointer;
    }

    
    </style>

    <script>
        function remove_error(child){
            $( child ).parent().fadeOut("slow");
        }

        function validateInput(e){
            console.log(e.value);

            if validateEmail(e.value) {
                $("#login-btn").prop("disabled",false);
            }else{
                $("").append(' <li class="costum_error_item"> Bitte nutzte deine E-Mail Adresse als Login <span onclick="remove_error(this)"><i class="icofont icofont-close-line-circled"></i> </span></li>')
            }

        }

        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }
    
    </script>

</html>
