
<%- include('../parts/head.ejs',{url : url, page_title : page_title})%>


<body>

<%- include('../parts/preloader.ejs')%>    
    <div id="pcoded" class="pcoded" >
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            

        <%- include('../parts/header.ejs')%>    

        <%- include('../parts/chat_persons.ejs')%>    

        <%- include('../parts/chat.ejs')%>    

            
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    
                    <%- include('../parts/side_nav.ejs')%> 
                    <div class="pcoded-content">
                        
                    <%- include('../parts/breadcrumb.ejs',{url : url , page_description : "" , page_title : page_title, breadcrumb : [{name : "Dein Profil", link: "/"}]}) %>
                    
                        
                    
                    <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <!-- [ page content ] start -->
                                        <div class="row">

                                            <!-- lettest acivity and statustic card start -->

                                            
                                            <div class="col-xl-12">
                                                <div class="card proj-progress-card">
                                                    <div class="card-block">
                                                        <div class="row">
                                                            <div class="col-xl-3 col-md-6">
                                                            
                                                                <img src="<%= userData.userAvatar %>"   alt="Profiles Avatar" class="profile-Avatar-presentation">
                                                                
                                                            </div>
                                                            <div class="col-xl-9 col-md-6">
                                                            <br>
                                                            <br>
                                                                <h4><%= userData.userName %></h4>
                                                                <h5 class="m-b-30 text-muted"><%= userData.userEmail %></h5>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- lettest acivity and statustic card end -->

                                        </div>

                                       
                                        <!-- [ page content ] end -->
                                    </div>
                                </div>
                            </div>
                        </div>





                        <div class="page-header card">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="feather icon-settings bg-c-blue"></i>
                                        <div class="d-inline">
                                            <h5>Einstellungen</h5>
                                            <span>Hier kannst Du dein Profil bearbeiten</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                   
                   
                   
                   
                   <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <!-- [ page content ] start -->
                                        <div class="row">

                                            <!-- lettest acivity and statustic card start -->

                                            
                                            <div class="col-xl-12">
                                                <div class="card proj-progress-card">
                                                    <div class="card-header">
                                                        <h5>Benutzername veränderen</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <span id="userName-btn" class="btn waves-effect waves-light btn-primary btn-block">neuer Benutzername</span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-xl-12">
                                                <div class="card proj-progress-card">
                                                    <div class="card-header">
                                                        <h5>Passwort veränderen</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <button id="userPassword-btn" class="btn waves-effect waves-light btn-primary btn-block">neueres Passwort</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <div class="card proj-progress-card">
                                                    <div class="card-header">
                                                        <h5>calDav aktivieren</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        
                                                        <p class="m-b-30 text-muted">calDav ermöglicht Dir, deine Auswahl von Veranstalltungen über einen Link in deiner eigener Kalender Anwendung zu importieren.</p>
                                                        <span class="btn waves-effect waves-light btn-success btn-block">calDav aktivieren</span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-xl-12">
                                                <div class="card proj-progress-card">
                                                    <div class="card-header">
                                                        <h5>Avatar veränderen</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="row">
                                                            <div class="col-xl-3 col-md-6">
                                                            
                                                            
                                                                <img src="<%= userData.userAvatar %>"   id ="profile-Avatar-croppie" alt="change Profiles Avatar ">
                                                                
                                                            </div>
                                                            <div class="col-xl-9 col-md-6">
                                                            <br>
                                                            <br>
                                                                
                                                                <a class="button actionUpload btn waves-effect waves-light btn-primary btn-block">
                                                                    <span>Bild aussuchen </span>
                                                                    <input type="file" id="upload" value="Choose Image" accept="image/*">
                                                                </a>
                                                                <span id="save-new-avatar" class="btn waves-effect waves-light btn-primary btn-block">Speichern</span>
                                                            </div>
                                                            
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <div class="card proj-progress-card card-red ">
                                                    <div class="card-header">
                                                        <h5 class="text-white">Konto löschen</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <button class="btn waves-effect waves-light btn-danger btn-outline-danger btn-block" style="background: #FDB3B3;"><i class="icofont icofont-warning-alt"></i>Konto löschen</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- lettest acivity and statustic card end -->

                                        </div>

                                       
                                        <!-- [ page content ] end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                    </div>







                    



                    
                    <!-- [ style Customizer ] start -->
                    <div id="styleSelector">
                    </div>
                    <!-- [ style Customizer ] end -->
                </div>
            </div>
        </div>
    </div>
    <%- include('../parts/foot.ejs',{url : url})%>
    <ul class="costum_error_list">
        <% apiErrors.forEach(function(err) { %>
            <li class="costum_error_item"> <%- err %> <span onclick="remove_error(this)"><i class="icofont icofont-close-line-circled"></i> </span></li>
        <% }); %>
    </ul>
</body>
<link rel="stylesheet" href="<%= url %>/files/bower_components/Croppie/croppie.css">
<script src="<%= url %>/files/bower_components/Croppie/croppie.js"></script>


<script>
var my_croppie = $('#profile-Avatar-croppie').croppie({
    boundary: { width: 250, height: 250 },
    viewport: { width: 190, height: 190, type: 'circle' }
});


$('.actionUpload input').on('change', function () { console.log(my_croppie); readFile(this); });

function readFile(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
        $(my_croppie).croppie('bind', {
        url: e.target.result
      });
    }
    reader.readAsDataURL(input.files[0]);
  }
  console.log(my_croppie)
}

$("#save-new-avatar").on('click', function(){
    console.log("test");
    console.log(my_croppie);
    my_croppie.croppie('result', {
        type : "base64",
        format: 'jpeg',
        quality: 0.8
    }).then(function(base64) {
        console.log(base64);
        $.ajax({
            type: "POST",
            url: "<%= url %>/api/user/updateAvatar",
            data: {
                userId : <%= userData.userId %>,
                userAvatar : base64,
            },
            success: function(data, status, xhr){
                console.log(data);
                if (data.status == "success"){
                    Swal.fire({
                        type : "success",
                        title: "Dein Avatar wurde erfolgreich geändert",
                        timer: 1500
                    }).then((result) => {
                        window.location.href = "<%= url %>/user/logout";
                    })
                }else{
                    Swal.fire({
                        type : "error",
                        title: "Dein Avatar konnte nicht geändert werden",
                        text: data.error,
                        timer: 1500
                    })
                }
            },
            error: function(jqxhr, status, exception) {
                console.log(jqxhr)
                console.log(status)
                console.log(exception)
                    alert('Exception:', exception);
            }
        })
    });
})


  



$("#userName-btn").on('click', function(){
    userName_menu();
})

$("#userPassword-btn").on('click', function(){
    Swal.fire({
        title : "Passwort eingeben",
        input: 'text',
        showCancelButton: true,
        confirmButtonText: "Speichern",
        cancelButtonText : "Abbrechen"
    }).then((result)=>{
        const current_password = result.value;
        if(current_password){
            $.ajax({
                    type: "POST",
                    url: "<%= url %>/api/user/isPasswordValid",
                    data: {
                        userId : <%= userData.userId %>,
                        userPassword : current_password
                    },
                    success: function(data){
                        console.log(data);
                        console.log(data.status);
                        
                        if(data.status == "success"){
                            Swal.fire({
                                title : "neues Passwort eingeben",
                                input : "text",
                                showCancelButton: true,
                                confirmButtonText: "Speichern",
                                cancelButtonText : "Abbrechen"
                            }).then((result) => {
                                console.log(result);
                                const new_password = result.value;
                                Swal.fire({
                                    title : "neues Passwort eingeben",
                                    input : "text",
                                    showCancelButton: true,
                                    confirmButtonText: "Speichern",
                                    cancelButtonText : "Abbrechen"
                                }).then((result) => {
                                    console.log(result);
                                    const confirm_password = result.value;
                                    if(confirm_password == new_password){
                                        
                                        $.ajax({
                                            type: "POST",
                                            url: "<%= url %>/api/user/updatePassword",
                                            data: {
                                                userId : <%= userData.userId %>,
                                                userPassword : new_password,
                                                confirmPassword : confirm_password
                                            },
                                            success: function(data, status, xhr){
                                                if (data.status == "success"){
                                                    Swal.fire({
                                                        type : "success",
                                                        title: "Dein Password wurde erfolgreich geändert",
                                                        timer: 1500
                                                    })
                                                }else{
                                                    Swal.fire({
                                                        type : "error",
                                                        title: "Dein Password konnte nicht geändert werden",
                                                        text: data.error,
                                                        timer: 1500
                                                    })
                                                }
                                            }, error: function(jqxhr, status, exception) {
                                                console.log(jqxhr)
                                                console.log(status)
                                                console.log(exception)
                                                 alert('Exception:', exception);
                                            }
                                        })
                                        
                                    }else{
                                        Swal.fire({
                                            type : "error",
                                            title : "Die neuen Passwörter waren nicht gleich.",
                                            timer: 1500
                                        });
                                    }

                                })  
                            })  
                        }else{
                          Swal.fire({
                            type: 'error',
                            title: 'Etwas ist schief gelaufen',
                            text : data.error,
                            showConfirmButton: false,
                            timer: 1500
                            })  
                        }
                    },
                    
                }); 
        }else{
            Swal.fire({
                title : "Du hast kein Passwort angegeben",
                type: 'error',
            })
        }
    })
})

function userName_menu(){
 Swal.fire({
        title: "Benutzername ändern",
        input: 'text',
        inputValue: '<%= userData.userName %>',
        showCancelButton: true,
        confirmButtonText: "Speichern",
        cancelButtonText : "Abbrechen",
    }).then((result) => {
        console.log(result);
        if (result.value){

            console.log(result.value.length);
            if (result.value.length < 7){
                Swal.fire({
                    type: 'error',
                    title: 'Dein neuer Benutzername muss min. 7 Zeichen haben',
                    showConfirmButton: false,
                    timer: 1500
                    })
            }else{
                $.ajax({
                    type: "POST",
                    url: "<%= url %>/api/user/updateName",
                    data: {
                        userId : <%= userData.userId %>,
                        userName : result.value
                    },
                    success: function(data){
                        console.log(data.status);
                        
                        if(data.status == "success"){
                            Swal.fire({
                                type: 'success',
                                title: 'Benutzername wurde geändert',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(() => {
                                window.location.href = "<%= url %>/user/logout";
                            })  
                        }else{
                          Swal.fire({
                            type: 'error',
                            title: 'Etwas ist schief gelaufen',
                            showConfirmButton: false,
                            timer: 1500
                            })  
                        }
                    },
                    
                }); 
            }
        
        }
    })
}


</script>



 <style>



    .profile-Avatar-presentation{
        width : 200px;
        height : 200px;
        margin : auto;
        border-radius : 50%;
        border: 3px solid white;
        box-shadow: 0 5px 10px 0 rgba(43,43,43,0.2);
    }

    .costum_error_list {
        position: absolute;
        bottom: 0;
        width: calc(100vw - 6em);
        left: 3em;
    }
    .costum_error_item{
        margin: 1em;
        padding: 1em 1.4em;
        background: white;
        color: #e83e8c;
        border: 1px solid #e83e8c;
        border-radius: 0.5em;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    }

    .costum_error_item span{
        color: black;
        position: absolute;
        right: 2em;
        cursor: pointer;
    }

    
    </style>

</html>


