<!-- [ breadcrumb ] start -->
<div class="page-header card">
<div class="row align-items-end">
    <div class="col-lg-8">
        <div class="page-header-title">
            <i class="feather icon-home bg-c-blue"></i>
            <div class="d-inline">
                <h5><% if (typeof page_title !== 'undefined') { %>
                    <%= page_title %>
                    <% } %></h5>
                <span>
                <% if (typeof page_description !== 'undefined') { %>
                    <%= page_description %>
                    <% } %>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="page-header-breadcrumb">
            <ul class=" breadcrumb breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="<%= url %>"><i class="feather icon-home"></i></a>
                </li>

                
                <% breadcrumb.forEach(function(drink) { %>
                    <li class="breadcrumb-item"><a href=" <%= url + drink.link %> "><%= drink.name %></a> </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
</div>
<!-- [ breadcrumb ] end -->



